@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --primary-clr: #912F40;
    --secondary-clr: #C89B7B;
    --tertiary-clr: #40434E;
    --btn-hover-clr: #702632;
    /*https://coolors.co/080705-40434e-702632-912f40-fffffa*/
}
*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Bebas Neue', cursive;
}
body{
    background-color: var(--tertiary-clr);
}


/*Library Elements*/
#libraryList{
    color: var(--primary-clr);
    text-align: center;
}
#libList-1st-child{
    margin-top: 1rem;
    font-size: 7rem;
}
/*Add new book button*/
#openForm{
    font-size: 2rem;
    padding: 2rem; 
    color: var( --secondary-clr);
    background-color: var(--primary-clr);
    border: .5rem solid var( --secondary-clr);
    border-radius: 3rem; 
    transition-duration: 0.4s;
}
#openForm:hover{
    background-color: var(--btn-hover-clr);
}

/* Form div*/
    .modal{
        margin: auto;
        padding: 1rem 2rem 1rem 2rem;
        color: var(--primary-clr);
        background-color: var( --secondary-clr);
        border-radius: 3rem;
    }
    .modal::backdrop{
        background-color: black;
        opacity: .3;
    }

    /*Form*/
    #bookSubmit{
        color: white;
        text-align: center;
        padding: 2rem;
        border-radius: 5rem;
    }
    .form-input-containers .buttons{
        font-size: 1rem;
    }
    /* Have read portion of form */
    #haveRead{
        width: 95%;
    }

    /*Form buttons*/
    .buttons{
        color: var(--secondary-clr);
        padding: .5rem;
        border-radius: 1rem;
        background-color: var(--primary-clr);
        border: none;
        transition-duration: 0.4s;
    }
    .buttons:hover{
        background-color: var(--btn-hover-clr);
    }
    #submitEdit{ /*This is the button for the seperate edit buttons*/
        display: none;
    }

    /*Icons edit and delete*/
    #buttonIcons{
        width: 15%;
    }
    img{ /*For both icons*/
        padding-top: .8rem;
        max-width: 25%;
        height: 25%;
        cursor:pointer
    }
    img:hover{
        transform: scale(1.5);
    }
    #deleteBtn{
        padding-right: .9em
    }


/*Place where book details are stored*/
#bookSelf{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch; 
    margin: 3rem;
    display: none;
}
#book-self-table{
    border-collapse: collapse;
    border: .5rem solid var(--secondary-clr);
    width: 90%;
}
#book-self-table th{
    color: var(--primary-clr);
    font-size: 3rem;
    background-color: var(--secondary-clr);
}
#book-self-table td{
    text-align: center;
    background-color: var(--tertiary-clr);
    color: var(--primary-clr);
    font-size: 2rem;
}


/* Website description */
#description-container{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    text-align: center;
    margin-top: 5rem;
}
#description-heading{
    color: var(--primary-clr);
    font-size: 4rem;
}
#description{
    color: var(--secondary-clr);
    font-size: 2rem;
}
