*{
    margin: 0rem;
    padding: 0rem;
    color: #F89C19;
}
body{
    background-color: #1FBD9D;
    /* margin: auto;
    display: flex;
	justify-content: center;
	align-items: center; */
}
/* Main container */
#container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
}
/* Form */
#forms{
    
}
#bookSubmit{
    /* display: none; */
}
#libraryList{
    /* background-color: #1970B5; */
    text-align: center;
}
#libList-1st-child{
    font-size: 5rem;
}
/*Open form btn*/
#openForm{
    color: #1970B5;
    padding: 2rem;
    background-color: #F89C19;
    border: .5rem solid #1970B5;
    border-radius: 3rem;
}
/* #bookSubmit{
    margin: 2rem;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: space-evenly;
} */
/*Div for each input in the form*/
/* .form-input-containers{
    padding: 0rem 1rem 0rem 1rem;
    font-size: 3rem;
}
input{
    padding: 1rem;
    font-size: 1rem;
} */